@font-face{
    src: url(/fonts/Farro-Regular.ttf) format("truetype");
    font-family: farro;
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face{
    src: url(/fonts/Farro-Bold.ttf) format("truetype");
    font-family: farro;
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}

@font-face{
    src: url(/fonts/Farro-Light.ttf) format("truetype");
    font-family: farro;
    font-display: swap;
    font-weight: lighter;
    font-style: normal;
}