@charset "UTF-8";

html{
    font-family: 'Farro', Arial, Helvetica, sans-serif;
    text-align: center;
}


h1,h2,h3{
    margin: 0;
    text-shadow: 0px 0px 15px #000000;
    font-size: 35px;
    padding: 0 14px;
    font-weight: bold;
    color: #d53453;
}
span{
    color: #ffffff;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding: 0 20px;
    text-shadow: 0px 0px 15px #000000;
    font-weight: normal;
    color: #ffffff;
    line-height: 1.4;
    letter-spacing: .8px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    
}

.whitespace{
    white-space: pre-line;
}

::-webkit-scrollbar{
    width: 20px;
    background-color: #1f1f1f;
}

::-webkit-scrollbar-thumb{
    width: 20px;
    background-color: #d53453;
    border-radius: 10px;
}

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.red-text{
    color: #d53453;
}

.main-header{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 2;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    background-color: #1f1f1f;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: #1f1f1f;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-item{
    margin: 14px 0;
    font-weight: bold;
    font-size: 22px;
}

.nav-link{
    color: #ffffff;
    text-shadow: none;
    transition: .4s all cubic-bezier(.57,.21,.69,1.25);
    font-size: inherit;
}
.nav-link:hover{
    color: #d53453;
    text-shadow: 2px 2px #ffffff;
}

.nav-menu.active{
    left: 0;
    background-color: #d53453;
}

.hamburguer{
    display: block;
    cursor: pointer;
    margin-right: 20px;
}
.hamburguer.active .bar:nth-child(2){
    opacity: 0;
    background: #d53453;
}
.hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    background: #d53453;
}
.hamburguer.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    background: #d53453;
}

.bar{
    display: block;
    width: 35px;
    height: 6px;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.icons{
    font-size: 40px;
    display: flex;
    gap: 40px;
    margin-left: 20px;
}
.icons a{
    transition: .4s color cubic-bezier(.57,.21,.69,1.25);
}
.icons a:hover{
    color: #d53453;
}

.logotipo{
    font-size: 80px;
    display: inline-block;
    font-weight: bold;
    margin: 0;
}

.main-section{
    background-image: linear-gradient(to top,rgb(38, 38, 38) 3%, rgb(33, 33, 33) 3%);
}
.main-section h1{
    color: #ffffff;
}
.main-section::after{
    content: "";
    height: 40px;
    width: 100%;
    z-index: 0;
    background: rgb(33, 33, 33);
    border-radius: 0px 0px 90% 90%;
    position: relative;
    display: block;
    box-shadow: 0px 10px 10px -0px rgba(0, 0, 0, 1);
}

.circles{
    background-image: url(../images/bolinhas.svg);
    height: 740px;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: clamp(26em, 100vw, 30em) 46em;
    background-position: bottom center;
    z-index: 1;
}

.main-section h1{
    padding-top: 175px;
}

@keyframes foto{
    0%, 100%{
        filter: drop-shadow(4px 0px 2px rgb(213, 52, 83))  
            drop-shadow(-4px 0px 2px rgb(255, 255, 255)); 
    }
    45%, 65%{
        filter: drop-shadow(4px 0px 2px rgb(255, 255, 255)) 
            drop-shadow(-4px 0px 2px rgb(213, 52, 83)); 
    }

}
.photo-henrique{
    filter: drop-shadow(4px 0px 0px rgb(213, 52, 83))  
            drop-shadow(-4px 0px 0px rgb(255, 255, 255)); 
    width: clamp(13em, 80vw, 25em);
    height: auto;
    animation: foto 5s infinite ease-in-out;
    margin-top: 40px;
}

.pixel-arts{
    width: auto;
    height: 403px;
    display: inline-block;
    margin: 40px 0;
    z-index: 1;
    position: relative;
}
.pixel-art{ /* 16 x 31 */
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 1))
            drop-shadow(0px 0px 6px rgba(213, 52, 83, 1));
}
.pixel-art:nth-child(1){
    transform: translate(0px, 170px);
    width: clamp(112px, 40vw, 144px);
    height: clamp(217px, 40vw, 249px);
}


.pixel-art:nth-child(2){
    transform: translate(10px, -70px);
    width: clamp(96px, 20vw, 112px);
    height: clamp(186px, 20vw, 202px);
}

.info{
    background-image: linear-gradient(to top,rgb(48, 48, 48) 3%, rgb(38, 38, 38) 3%);
    padding-top: 130px;
}
.info::after{
    content: "";
    height: 40px;
    width: 100%;
    z-index: 0;
    background: rgb(38, 38, 38);
    border-radius: 0px 0px 90% 90%;
    position: relative;
    display: block;
    box-shadow: 0px 10px 10px -0px rgba(0, 0, 0, 1);
}

.abilities{
    background-image: linear-gradient(to top,rgb(58, 58, 58) 3%,rgb(48, 48, 48) 3%);
    padding-top: 120px;
}
.tecnologies{
    margin: 45px 0 20px;
    height: auto;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 1));
}   
.logos{
    width: clamp(80px, 30vw, 200px);
    filter: drop-shadow(0px 0px 5px rgb(213, 52, 83)); 
    z-index: 1;
    position: relative;
}
.logos:nth-child(1){
    transform: translateX(60px);
    padding-bottom: 60px;
}
.logos:nth-child(3){
    transform: translateX(-60px);
    padding-bottom: 45px;
}
.abilities::after{
    content: "";
    height: 40px;
    width: 100%;
    z-index: 0;
    background-color: rgb(48, 48, 48);
    border-radius: 0px 0px 90% 90%;
    position: relative;
    display: block;
    box-shadow: 0px 10px 10px -0px rgba(0, 0, 0, 1);
}


.principal-projects{
    background-color: rgb(58, 58, 58);
}
.principal-projects h2{
    padding-top: 100px;
}

.projects{
    display: inline-flex;
    margin: 30px auto 0;
    width: auto;
    height: clamp(15em, 70vw, 25em);
    border-radius: 100%;
    position: relative;
    transition: all 0.2s;
    user-select: none;
    align-items: center;
    justify-content: center;
}
.project-card{
    position: absolute;
    width: clamp(15em, 70vw, 25em);
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    display: block;
    cursor: pointer;
} 

.project-card.active{
    transform: rotateY(180deg);
}
.project-front{
    position: absolute;
    width: clamp(15em, 70vw, 25em);
    height: 100%;
    backface-visibility: hidden;
}
.project-back{
    position: absolute;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    width: clamp(15em, 70vw, 25em);
}
.projects img{
    width: clamp(15em, 70vw, 25em);
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 1))
            drop-shadow(0px 0px 6px rgba(213, 52, 83, 1));
}

.projects a{
    color: #d53453;
    display: block;
    position: absolute;
    border-radius: 100%;
    text-shadow: 0px 0px 15px #d53453, 
                -1px -1px 0px #ffffff,
                1px -1px 0px #ffffff,
                -1px 1px 0px #ffffff,
                1px 1px 0 #ffffff;
    top: 50%;
    left: 50%;
    padding: 10px 20px;
    transform: translate(-50%,-50%);
    opacity: 1;
    font-size: clamp(1.6em, 8vw,3em);
}

.selection-balls{
    margin: 40px 0 0px;
    padding-bottom: 20px;
    width: auto;
    height: 110px;
    display: block;
}

.ball{
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 100%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 1),
                0px 0px 6px rgba(213, 52, 83, 1);
}
.first-ball{
    background-color: #d53453;
}
.second-ball{
    margin: 0 10px;
}

.main-footer{
    background-color: rgb(31, 31, 31);
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top,rgb(31, 31, 31) 94%,rgb(58, 58, 58) 94%);
}
.main-footer::before{
    content: "";
    height: 40px;
    width: 100%;
    display: block;
    position: relative;
    border-radius: 90% 90% 0 0;
    background-color: rgb(31, 31, 31);
    box-shadow: 0px -10px 10px -0px rgba(0, 0, 0, 1);
    z-index: 0;
}

.contact{
    display: flex;
    flex-flow: column nowrap;
    padding: 30px;
    width: 70%;
    margin: auto;
    background-color: rgba(213, 52, 83, 1);
    border-radius: 30px;
    position: relative;
    align-items: center;
    top: -80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1),
                0px 0px 10px rgba(0, 0, 0, 1);
}
.contact h2,a{
    color: #ffffff;
    text-shadow: none;
}
.contact button{
    background-color: #d53453;
    width: clamp(8em, 50vw, 12em);
    height: 70px;
    margin-top: 30px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    display: block;
    font-size: 1.4em;
    transition: .3s all ease-in-out;
}
.contact button:hover{
    transform: scale(2px);
    box-shadow: 6px 6px 1px #ffffff;
}

.download{
    background-color: #d53453;
    width: clamp(10em, 40vw, 40em);
    margin: auto;
    height: 70px;
    border: transparent;
    border-radius: 30px;
    display: block;
    font-size: 1.4em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1),
                0px 0px 10px rgba(0, 0, 0, 1);
    transition: .3s all ease-in-out;
}
.download:hover{
    box-shadow: 0px 0px 10px rgba(213, 52, 83, 1),
                0px 0px 10px rgba(213, 52, 83, 1);
}

.copyright {
    display: inline-block;
    margin: 40px 0 15px;
    padding: 0 30px;
    color: rgb(107, 106, 106);
    font-family: 'Farro', Arial, Helvetica, sans-serif;
    font-weight: bold;
}