@charset "UTF-8";

html{
    font-family: farro, Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #1f1f1f;
}

h1,h2,h3{
    margin: 0;
    text-shadow: 0px 0px 15px #000000;
    font-size: clamp(3em, 18vw, 4em);
    padding: 0 10px;
    font-weight: bold;
    color: #d53453;
}

section h2, section h3{padding-top: 60px;}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1.5em, 5vw, 1.9em);
    padding: 0 20px;
    text-shadow: 0px 0px 15px #000000;
    font-weight: normal;
    color: #ffffff;
    line-height: 1.2;
    letter-spacing: .8px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

#disable{display: none;}

::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #d53453;
    border-radius: 10px;
}

.canAnimate{
    transition: 0.8s ease-in-out;
    padding-top: 50px;
}

.animation{
    transform: translate3d(0, -100%, 0);
    opacity: 0;
}

.hiddenOverflow{overflow: hidden;}
.preloader{display: none;}

.preloader-js{
    display: flex;
    background-color: #1f1f1f;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.preloader p{
    margin-top: 0;
    max-width: 700px;
    padding: 0 10% 0;
    font-weight: bold;
    font-size: clamp(1.5em, 5vw, 3em);
}
@keyframes logo{
    0%, 100%{
        text-shadow: 2px 2px transparent,
                0px 0px 15px #000000;
    }
    50%{
        text-shadow: 2px 2px #ffffff,
                0px 0px 15px #000000;
    }
}
.loaderLogo{
    color: #d53453;
    font-size: clamp(5em, 18vw, 10em);
    margin: 0 0 10px;
    text-shadow: 2px 2px #ffffff,
                0px 0px 15px #000000;
    animation: logo 3s infinite ease-in-out;
}
.loading{
    display: block;
    width: clamp(200px, 60vw, 400px);
    height: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 5px solid #d53453;
    box-shadow: 0px 0px 10px #000000;
}
@keyframes loading{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
.loading::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #38131a;
    display: block;
    border-radius: 10px;
    animation: loading 3s ease-in-out;
}

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.red-text{color: #d53453;}

.main-header{
    position: relative;
    z-index: 5;
    height: 100%;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    width: 100%;
    background-image: linear-gradient(-45deg,rgb(31, 31, 31) 45%, rgb(213, 52, 83) 45.3%);
    position: fixed;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 1);
}
.nav-menu{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: -100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background-color: #1f1f1f;
    width: 100%;
    transition: 0.3s;
}
.navBar-noJs{
    flex-direction: column;
    position: relative;
}
.navMenu-noJs{
    position: relative;
    left: 0;
}
.nav-item{
    margin: 14px 0;
    font-weight: bold;
    font-size: 1.5em;
}
.nav-link{
    color: #ffffff;
    text-shadow: none;
    transition: .4s all cubic-bezier(.57,.21,.69,1.25);
}
.nav-link:hover, .nav-link:focus{
    color: #d53453;
    text-shadow: 2px 2px #ffffff;
    outline: none;
}
.nav-menu.active{
    left: 0;
    background-color: #d53453;
}
.hamburguer{
    display: block;
    cursor: pointer;
    margin-right: 20px;
}

.hamburguer-noJs{display: none;}

.bar{
    display: block;
    width: 35px;
    height: 6px;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.hamburguer.active .bar{background: #d53453;}

.hamburguer.active .bar:nth-child(2){opacity: 0;}

.hamburguer.active .bar:nth-child(1){
    transform: translate3d(0, 8px, 0) rotate3d(0,0,1,45deg);
}
.hamburguer.active .bar:nth-child(3){
    transform: translate3d(0, -8px, 0) rotate3d(0,0,1,-45deg);
}

.icons{
    width: fit-content;
    display: flex;
    height: 60px;
    gap: 25px;
    margin: 0 0 0 3%;
}
.icons a{
    transition: .4s all cubic-bezier(.57,.21,.69,1.25);
    background-size: clamp(35px, 15vw, 50px);
    filter: invert(100%) sepia(3%) saturate(12%) hue-rotate(348deg) brightness(103%) contrast(103%);
    width: clamp(35px, 15vw, 50px);
    height: 100%;
}
.icons a:hover{
    filter: invert(0%) sepia(5%) saturate(6756%) hue-rotate(339deg) brightness(103%) contrast(78%);
}
.icon-github{background: center  no-repeat url(/images/github.svg);}
.icon-linkedin{background: center  no-repeat url(/images/linkedin.svg);}
.logotipo{
    font-size: 5em;
    display: inline-block;
    font-weight: bold;
    margin: 0;
}

.main-section{
    background-color: rgb(33, 33, 33);
    position: relative;
    z-index: 4;
    border: 0;
}
.main-section h1{
    color: #ffffff;
    padding-top: 100px;
    font-size: clamp(35px, 10vw, 50px);
    white-space: pre-line;
    position: relative;
}
.main-section::after{
    content: "";
    height: 40px;
    width: 100%;
    background: rgb(33, 33, 33);
    border-radius: 0px 0px 90% 90%;
    position: absolute;
    display: block;
    box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 1);
}
.circles{
    background-image: url(../images/bolinhas.svg);
    height: 780px;
    position: absolute;
    width: 100%;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: clamp(26em, 100vw, 30em) 60em;
    background-position: bottom center;
}

@keyframes moving{
    0%, 100%{
        transform: translate3d(0, 0px, 0);
    }
    50%{
        transform: translate3d(0, -15px, 0);
    }
}

.photo-henrique{
    filter: drop-shadow(4px 0px 0px rgb(213, 52, 83))  
            drop-shadow(-4px 0px 0px rgb(255, 255, 255))
            drop-shadow(0px 0px 10px rgb(0, 0, 0)); 
    width: clamp(13em, 80vw, 25em);
    height: 100%;
    animation: moving 3s infinite ease-in-out;
    margin-top: 40px;
    position: relative;
    z-index: 1;
}
.info{
    background-color: rgb(38, 38, 38);
    position: relative;
    z-index: 3;
}
.info p{
    margin: 20px auto 0;
    max-width: 600px;
}
.info p:nth-child(3){margin: 30px auto 0;}

.info article{margin-bottom: 40px;}

.pixel-art{
    display: inline-block;
    width: clamp(181.6px, 80vw, 271px);
    height: 100%;
    image-rendering: pixelated;
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0)); 
    animation: moving 3s infinite ease-in-out;
}
.info::after{
    content: "";
    height: 40px;
    width: 100%;
    background: rgb(38, 38, 38);
    border-radius: 0px 0px 90% 90%;
    position: absolute;
    display: block;
    box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 1);
}

.principal-projects{
    background-color: rgb(48, 48, 48);
    position: relative;
    z-index: 2;
}
.principal-projects .canAnimate{z-index: 1;}
.principal-projects::after{
    content: "";
    height: 40px;
    width: 100%;
    background-color: rgb(48, 48, 48);
    border-radius: 0px 0px 90% 90%;
    position: absolute;
    display: block;
    box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 1);
}
.project-image, .title-project{pointer-events: none;}
.projects{
    --projects-showing: 1;
    --main-width-projects: clamp(16em, 70vw, 22em);
    margin: 25px 0 0;
    width: calc(var(--main-width-projects) * var(--projects-showing));
    position: relative;
    display: inline-flex;
    overflow-x: hidden;
    border-radius: 100px;
    transition: all 0.5s ease;
}

.projects-noJs{overflow-x: auto;}
.projects-noJs::-webkit-scrollbar-track {
    border-radius: 30px;
    background-color: #ffffff;
}
.projects-noJs::-webkit-scrollbar {height: 60px;}
.projects-noJs::-webkit-scrollbar-thumb {border-radius: 30px;}

.project-container{
    display: inline-flex;
    flex-flow: row nowrap;
    z-index: 1;
    justify-content: left;
    transition: all 0.2s;
    align-items: flex-start;
}

.project-card{
    width: var(--main-width-projects);
    transition: all 0.5s ease;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
} 
.project-div{
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    pointer-events: auto;
    z-index: 1;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 1))
            drop-shadow(0px 0px 6px rgba(213, 52, 83, 1));
}

.project-image{
    width: var(--main-width-projects);
    height: 100%;
    filter: brightness(60%);
    transition: 0.3s ease-in-out;
}
.projectImage-close{filter: brightness(100%);}

@keyframes scaleFont{
    0%, 100%{
        transform: scale3d(1, 1, 1);
    }
    50%{
        transform: scale3d(1.1, 1.1, 1.1);
    }
}

.title-project{
    font-family: farro, Arial, Helvetica, sans-serif;
    color: #d53453;
    position: absolute;
    z-index: 1;
    text-shadow: 0px 0px 15px #d53453, 
                -1px -1px 0px #ffffff,
                1px -1px 0px #ffffff,
                -1px 1px 0px #ffffff,
                1px 1px 0 #ffffff;
    font-size: clamp(1.6em, 8vw,2.7em);
    white-space: pre-line;
    animation: scaleFont 3s infinite ease-in-out;
    transition: 0.3s ease-in-out;
    opacity: 1;
}
.titleAct-close{
    animation: 0;
    opacity: 0;
}
.project-info{
    width: 80%;
    padding: 22% 0 10%;
    background-color: #1f1f1f;
    display: inline-block;
    align-items: center;
    flex-flow: column nowrap;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    position: relative;
    bottom: clamp(80px, 20vw, 120px);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    transform-origin: top;
    transform: scale3d(1, 1, 1);
}
.projectInfo-close{
    transform: scale3d(1, 0, 1);
    bottom: 100px;
    height: 0;
}
.used-logos{
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 10px;
    margin-top: 10%;
}
.span-logos{
    display: flex;
    justify-content: center;
    border-radius: 100%;
    width: 22%;
    padding: 10px 0;
    background-color: #d53453;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1),
                0px 0px 10px rgba(213, 52, 83, 1);
}
.logo-project{
    width: 55%;
    height: 100%;
    filter: drop-shadow(0px 0px 1px rgb(255, 255, 255));
}
.span-logos:nth-child(1), .span-logos:nth-child(3){margin-bottom: 20px;}
.project-info p{
    margin: 20px 0 50px;
    font-weight: 600;
    font-size: clamp(1.3em, 4vw, 1.6em);
}
.project-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #d53453;
    border-radius: 12px;
    font-size: clamp(1.5em, 4vw, 2em);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1),
                0px 0px 10px rgba(0, 0, 0, 1);
    transition: .3s ease-in-out;
}

.project-button:focus{display: none;}
.project-button:hover{
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(213, 52, 83, 1),
                0px 0px 10px rgba(0, 0, 0, 1);
    transform: scale3d(1.02, 1.02, 1.02);
}

.selection-buttons{
    z-index: 1;
    height: 40px;
    display: none;
    position: relative;
    bottom: clamp(50px, 12vw, 80px);
}
.selectionButtons-js{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    pointer-events: none;
}
.ball{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: 0;
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 1),
                0px 0px 6px rgba(213, 52, 83, 1);
    cursor: pointer;
    transition: all 0.5s ease;
    pointer-events: auto;
}
.ball::before{
    background-repeat: none;
    background-size: 30px;
    width: 30px;
    height: 30px;
    filter: invert(24%) sepia(85%) saturate(1509%) hue-rotate(322deg) brightness(104%) contrast(93%)drop-shadow(0px 0px 3px #ffffff) drop-shadow(0px 0px 3px #ffffff);
}
.ball:nth-child(1):before{
    content: "";
    background-image: url(/images/arrow-left2.svg);
}
.ball:nth-child(2):before{
    content: "";
    background-image: url(/images/arrow-right2.svg);
}
.currentButton{background-color: #d53453;}

.contact-section{
    background-color: rgb(58, 58, 58);
    padding-bottom: 60px;
}
.contact-section h2{margin-bottom: 20px;}
.contact-div{
    margin-bottom: 50px;
    position: relative;
    width: 100%;
}

.text-contact{
    background-color: #1f1f1f;
    border: 0;
    width: 80%;
    padding: 10px;
    height: 2rem;
    margin-bottom: 15px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 3px solid #d53453;
}
.input_focus{transition: .3s all ease-in-out;}
.input_focus:focus, .input_focus:hover{
    border: 3px solid #d53453;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1),
                0px 0px 10px rgba(0, 0, 0, 1);
    outline: 0;
}
.textArea{
    resize: none;
    height: 10rem;
}
.contact-button{
    height: 4rem;
    background-color: #1f1f1f;
    border: 0;
    width: 50%;
    color: #ffffff;
    font-size: 1.8em;
    padding: 0 20px;
    border: 2px solid #d53453;
    font-weight: bold;
    border-radius: 25px;
    align-self: center;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

.main-footer{
    background-image: linear-gradient(to top,rgb(31, 31, 31) 200px,rgb(58, 58, 58) 200px);
    position: relative;
}
.main-footer::before{
    content: "";
    height: 40px;
    width: 100%;
    display: block;
    border-radius: 90% 90% 0 0;
    background-color: rgb(31, 31, 31);
    box-shadow: 0px -10px 10px 0px rgba(0, 0, 0, 1);
    position: relative;
}
.portfolio{
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    width: 60%;
    margin: auto;
    background-color: rgba(213, 52, 83, 1);
    border-radius: 30px;
    position: absolute;
    align-items: center;
    top: -40px;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1),
                0px 0px 10px rgba(0, 0, 0, 1);
}
.portfolio h2{font-size: 1.5em;}
.portfolio h2,a{
    color: #ffffff;
    text-shadow: none;
}
.portfolio a{
    background-color: #d53453;
    padding: 20px;
    margin-top: 30px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    display: block;
    font-size: 1.4em;
    transition: .3s ease-in-out;
}
.portfolio a:hover, .portfolio a:focus{
    transform: scale3d(1.04, 1.04, 1.04);
    box-shadow: 6px 6px 1px #ffffff;
    outline: 0;
}
.copyright{
    display: inline-block;
    padding: 0 30px;
    margin: 150px 0 10px;
    color: rgb(107, 106, 106);
    font-family: farro, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    transition: .3s all ease-in-out;
}
.copyright:hover{color: rgb(226, 226, 226);}

@media screen and (max-width:20em){
    .circles{
        background-image: url(../images/bolinhas.svg);
        height: 780px;
        position: absolute;
        width: 100%;
        background-size: 20em 62em;
    }
}

@media screen and (min-width:30em){
    .circles{background-size: clamp(26em, 100vw, 35em) 50em;}
}

@media screen and (min-width:62.5em){
    .main-footer{
        background-image: linear-gradient(to top,rgb(31, 31, 31) 120px,rgb(58, 58, 58) 120px);
    }

    .main-section::after, .info::after, .main-footer::before, .principal-projects::after{
        height: 80px;
    }

    .main-section .flex{padding: 130px 100px 0;}
    
    .circles{
        background-image: url(/images/bolinhas-pc.svg);
        height: 840px; 
        background-size: clamp(40em, 100vw, 75em) 55em;
    }

    .canAnimate{
        position: relative;
        top: 120px;
        padding: 0;
    }
    .contact-section .canAnimate{padding-bottom: 90px;}

    .icons a{
        background-size: clamp(50px, 4vw, 60px);
        width: clamp(50px, 4vw, 60px);
    }
    .icons a:hover{filter: invert(24%) sepia(85%) saturate(1509%) hue-rotate(322deg) brightness(104%) contrast(93%);}

    .navBar{
        background: #1f1f1f;
    }
    .nav-menu{
        left:0;
        top: 0;
        flex-flow: row nowrap;
        position: relative;
    }

    .hamburguer{display: none;}
    .nav-menu.active{background-color: #1f1f1f;;}
    .nav-item{margin: 0;}
    .nav-menu li:not(.logotipo){font-size: clamp(2.5em, 4vw, 3.4em);}
    .nav-menu li:nth-child(1){margin-left: auto;}
    .nav-menu li:nth-child(2){margin: 0px 60px;}
    
    .logotipo{
        padding: 0 4%;
        background-color: #d53453; 
        flex-basis: 100px;
        margin-left: auto;
        position: relative;
    }

    .flex{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        gap: 90px;
        position: relative;
        z-index: 1;
    }
    .flex h1{
        text-align: start;
        font-size: clamp(4em, 6vw, 5em);
        padding: 60px 0 20px 70px;
    }

    .photo-henrique{
        margin: 40px 40px 20px 0;
        position: relative;
        top: 50px;
        width: clamp(25em, 40vw, 25em);
    }
    
    .info .flex{
        flex-direction: row-reverse;
        gap: 100px;
    }

    .info div{
        padding-bottom: 50px;
        margin: 0;
    }
    .info p{
        margin: 20px 0 0;
        font-size: clamp(1.5em, 5vw, 1.8em);
        max-width: 19em;
    }
    .info p:nth-child(3){margin: 30px 0 0;}
    .pixel-art{
        padding: 10px 0 0 90px;
    }
    
    .info h2 , .principal-projects h2, .contact-section h2{
        font-size: 5em;
        padding-top: 0px;
    }

    .projects{--projects-showing: 2;}

    .textarea, .text-contact{max-width: 700px;}
    .contact-button{max-width: 400px;}
    .contact{top: -130px;}

    .portfolio{
        top: -30px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 130px;
        font-size: 1.2em;
    }
    .portfolio h2{
        margin: 0;
        padding: 0;
        width: 50%;
    }
    .portfolio a{
        margin: 0;
        width: 30%;
    }

    .copyright{margin-top: 50px;}
}

@media screen and (min-width:77.77em){
    .projects{--projects-showing: 3;}
}