@charset "UTF-8";

html{
    font-family: 'Farro', Arial, Helvetica, sans-serif;
    text-align: center;
}
html,body{
    height: 100%;
}

span{
    color: #ffffff;
}

a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #1f1f1f;
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #d53453;
    border-radius: 10px;
}

.main-section{
    background-image: url(../images/bolinhas.svg);
    background-color: rgb(38, 38, 38);
    background-position: bottom center;
    background-size: contain;
    min-height: calc(100vh - 58.4px); 
}

.main-section h1{
    color: #ffffff;
    font-size: clamp(3.2em, 19vw, 6em);
    font-weight: bold;
    white-space: pre-line;
    margin: 100px 0 20px;
    padding: 0 14px;
    text-shadow: 0px 0px 15px #000000,
                     0px 0px 15px #d53453;
                     
}
.main-section p{
    color: #ffffff;
    text-shadow: 0px 0px 15px #000000;
    font-weight: 600;
    white-space: pre-line;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding: 0 20px;
    line-height: 1.2;
    letter-spacing: .8px;
    margin: 0;
}
.flex{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 58.4px); 
}

.back-button{
    background-color: #d53453;
    padding: 10px 40px;
    border-radius: 30px;
    font-size: 2.5em;
    box-shadow: 0px 0px 10px -0px rgba(0, 0, 0, 1);
    margin: 40px 0 100px;
    transition: .3s all ease-in-out;
}

.back-button:focus, .back-button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1),
                0px 0px 10px rgba(0, 0, 0, 1),
                0px 0px 15px #d53453;
    outline: 0;
}

.main-footer{
    background-color: rgb(31, 31, 31);
    background-image: linear-gradient(to top,rgb(31, 31, 31) 85%,rgb(38, 38, 38) 85%);
    
}
.main-footer::before{
    content: "";
    height: 40px;
    width: 100%;
    display: block;
    border-radius: 90% 90% 0 0;
    background-color: rgb(31, 31, 31);
    box-shadow: 0px -10px 10px -0px rgba(0, 0, 0, 1);
    position: absolute;
}

.copyright{
    display: inline-block;
    padding: 0 50px;
    margin: 30px 0 10px;
    color: rgb(107, 106, 106);
    font-family: 'Farro', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    transition: .3s all ease-in-out;
    position: relative;
}
.copyright:hover{
    color: rgb(226, 226, 226);
}

@media screen and (min-width:50em){

    
    .main-section{
        background-image: url(../images/bolinhas-pc.svg);
        background-color: rgb(38, 38, 38);
        background-size: contain;
        background-position: bottom center;
        min-height: calc(100vh - 100px);
    }

    .back-button{
        background-color: #d53453;
        padding: 15px 50px;
        border-radius: 30px;
        font-size: 2.5em;
        box-shadow: 0px 0px 10px -0px rgba(0, 0, 0, 1);
        margin: 40px 0 100px;
        transition: .3s all ease-in-out;
    }
    .flex h1{
        font-size: 7em;
    }
    .flex p{
        font-size: 2em;
    }

    .main-footer{
        background-color: rgb(31, 31, 31);
        background-image: linear-gradient(to top,rgb(31, 31, 31)20%,rgb(38, 38, 38) 20%);
    }

    .main-footer::before{
        height: 100px;
    }

    .copyright{
        margin-top: 35px;
    }
}