@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&display=swap');

html{
    font-family: 'Farro', Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100%;
}

body{
    min-height: 100%;
    background-image: url(../images/bolinhas.svg);
    background-color: rgb(38, 38, 38);
    background-position: bottom center;
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.redtext{
    color: #d53453;
}

.flex{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

@keyframes movingY {
    50%{
        transform: translate3d(0, -15px, 0);
    }
}

.main-section h1{
    color: #ffffff;
    font-size: clamp(3.2em, 20vw, 7em);
    font-weight: bold;
    white-space: pre-line;
    margin: 100px 0 20px;
    padding: 0 14px;
    text-shadow: 0px 0px 15px #000000,
                     0px 0px 15px #d53453;
    animation: movingY 2.2s infinite ease-in-out;
}
.main-section p{
    color: #ffffff;
    text-shadow: 0px 0px 15px #000000;
    font-weight: 600;
    white-space: pre-line;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1.5em, 2vw, 7em);
    padding: 0 20px;
    line-height: 1.2;
    letter-spacing: .8px;
    margin: 0;
    max-width: 500px;
}

.back-button{
    background-color: #d53453;
    padding: clamp(10px, 10vw, 15px) clamp(40px, 10vw, 50px);
    border-radius: 30px;
    font-size: clamp(2.5em, 10vw, 2.8em);
    box-shadow: 0px 0px 10px -0px rgba(0, 0, 0, 1);
    margin-top: 40px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: .3s all ease-in-out;
}

.back-button:focus, .back-button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1),
                0px 0px 10px rgba(0, 0, 0, 1),
                0px 0px 15px rgba(213, 52, 83, 1);
    outline: 0;
}

.main-footer{
    background-color: transparent;
    margin-top: auto;
}

.copyright{
    display: inline-block;
    padding: 0 50px;
    margin: auto 0 10px 0;
    color: rgb(107, 106, 106);
    font-family: 'Farro', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    transition: .3s all ease-in-out;
    position: relative;
}
.copyright:hover{
    color: rgb(226, 226, 226);
}

@media screen and (min-width:50em){
    body{
        background-image: url(../images/bolinhas-pc.svg);
    }
    .flex{
        height: 80vh;
    }
}